.btn-light {
    color: white;
    background-color: $color-secundario;
      border-color: $color-secundario;
    }
    
    .btn-light:hover {
         color: white;
         background-color: $rosa-primero;
         border-color: $rosa-primero;
     }
     